body {
    background-color: rgb(46, 47, 54);
    width: 1200px;
    color: orangered;
    font-family:'Segoe UI'
}
#error {
    color: red;
}
.list {
    list-style: none;
    display: inline-block;
}
.check {
    width: 80px;
    height: 30px;
}
.auction {
    width: 330px;
    border-style: solid;
    border-color: rgb(61, 64, 90);
    position: relative;
    right: 45px;
}
.price{
    color: #FFAA00;
}
button {
    color: orangered;
    background-color: white;
    border: 5px orangered solid;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}
input {
    color: orangered;
    background-color: white;
    border: 2px orangered solid;
    border-radius: 0px;
    width: 100px;
    height: 10px;
}
.contain {
    position: relative;
}
.copy {
    border-style: solid;
    border-color: rgb(61, 64, 90);
    background-color: black;
    margin: 30px 95px;
    color:white;
    width: 70px;
    height: 40px;
    
}
.copy:hover {
    border-style: solid;
    border-color: rgb(61, 64, 90);
    background-color: rgb(61, 64, 90);
}