.a{
    display: inline-block;
}
.main{
    margin: 0%;
    position: relative;
    text-align: center;
    left: 50%;
    width: auto;
}
body{
    background-color: seagreen;
    width: 720px;
}
p,h1,div,button{
    font-family: sans-serif;
    color: mediumaquamarine;
}
#toggle{
    width: 100px;
    height: 30px;
    position: relative;
    
}
